:root {
  --nav-fg-color: white;
  --nav-bg-color: black;
  --link-group-fg-color: white;
  --link-group-bg-color: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#menu {
  color: var(--nav-fg-color);
  background-color: var(--nav-bg-color);
}

/* Site title */
#title {
  font-variant: small-caps;
  font-weight: bold;
}

#title a {
  color: var(--nav-fg-color);
  text-decoration: none;
}

/* Navigation links */
nav a, nav a:link, nav a:visited {
  color: var(--nav-fg-color);
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 300ms;
}

nav a:hover {
  color: var(--nav-bg-color);
  background-color: var(--nav-fg-color);
  text-decoration: none;
  transition: background-color 300ms;
}

/* Content */
#content-wrapper {
  color: black;
  background-color: white;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

p.center {
  text-align: center;
}

table {
  border-collapse: collapse;
  border-style: hidden;
}

th, td {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

td.left {
  text-align: left;
}

#intro {
  font-size: 1.25em;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#social-links {
  width: 425px;
  max-width: 75vw;
  margin: 2em auto;
}

.link-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  font-size: 1.10em;
  padding: 0.25em;

  color: var(--link-group-fg-color);
  background-color: var(--link-group-bg-color);

  border: 1px solid var(--link-group-bg-color);
  border-radius: 8px;
  box-shadow: 2px 2px 4px var(--link-group-bg-color);
}

.link-group-item {
  padding: 0.25em;
  margin: 0 0.25em;
  font-weight: bold;
}

.link-group-item a, .link-group-item a:visited {
  color: var(--link-group-fg-color);
  text-decoration: none;
  padding: 0.25em;
  border-radius: 4px;
  transition: background-color 300ms;
}

.link-group-item a:hover {
  color: var(--link-group-bg-color);
  background-color: var(--link-group-fg-color);
  text-decoration: none;
  transition: background-color 300ms;
}

.legal {
  font-family: "Times New Roman", Times, serif;
}

.proj-img {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 6px;
}

img#greg {
  border-radius: 25px;
}
