---
layout: layouts/main.njk
title: About
full-title: About Me
eleventyNavigation:
  key: About
---

<img src="/img/greg.jpg" alt="{{ site.author.name }}" id="greg" />
<p>
  I am a hobbyist software developer, primarily writing applications
  in C++, with plans to become more actively involved in web
  development.
</p>
<p>
  When I'm not programming, I enjoy learning about mathematics,
  playing board games or video games, and stargazing.
</p>
<p>
  Please feel free to <a href="mailto:gkikola@gmail.com">contact
  me</a> if you have any questions or comments.
</p>
