---
layout: layouts/main.njk
title: About
full-title: About Me
eleventyNavigation:
  key: About
---

<img src="/img/greg.jpg" alt="{{ site.author.name }}" id="greg" />
<p>
  I am a lifelong student of mathematics with a lot of passion for the
  subject. As a hobby, I also develop software. And I enjoy the
  occasional board game.
</p>
<p>
  The software that I develop
  is <a href="https://www.gnu.org/philosophy/free-sw.en.html">free
    as in freedom</a>. This means that you are free to run,
  copy, study, change, and redistribute my programs for any
  purpose provided that you extend those same freedoms to
  others, under the terms specified by the respective license.
</p>
<p>
  If you have questions, suggestions, or bug reports, please feel free to
  <a href="/contact/">contact me</a>.
</p>
