---
layout: layouts/main.njk
full-title: Home
eleventyNavigation:
  key: Home
---

<p id="intro">
  Developer living in Maryland.
  <a href="https://www.gnu.org/philosophy/free-sw.en.html">Free
  software</a> enthusiast. Math geek.
</p>
<div id="social-links" class="link-group">
  {% for profile in social.profiles %}
  <span class="link-group-item"><a href="{{ profile.url }}">{{ profile.name }}</a></span>
  {% endfor %}
</div>
