---
layout: layouts/main.njk
full-title: Home
eleventyNavigation:
  key: Home
---

<p id="intro">
  Developer living in Maryland.
  <a href="https://www.gnu.org/philosophy/free-sw.en.html">Free
  software</a> enthusiast. Math geek.
</p>
<div id="social-links-container">
  <span id="social-links">
    {% for profile in social.profiles %}
    <a href="{{ profile.url }}">{{ profile.name }}</a>
    {% if forloop.last != true %}&bull;{% endif %}
    {% endfor %}
  </span>
</div>
