---
layout: layouts/main.njk
full-title: Home
eleventyNavigation:
  key: Home
---
<p id="intro">
  I like software development, mathematics, and board games. Check out my
  <a href="/projects/">projects</a> or contact me using the links below.
</p>
<div id="social-links" class="link-group">
  {% for profile in social.profiles %}
  <span class="link-group-item"><a href="{{ profile.url }}">{{ profile.name }}</a></span>
  {% endfor %}
</div>
