---
layout: layouts/main.njk
title: Guides
full-title: Textbook Solution Guides
eleventyNavigation:
  key: Guides
  parent: Projects
---

<p>
  These are my solutions to various mathematics textbook
  exercises. Check back often for updates.
</p>
<p>
  If you find any errors, formatting mistakes, or other issues please
  feel free to <a href="/contact/">contact me</a> and let me know. I
  appreciate any corrections or feedback.
</p>

<table class="guides">
  <tr>
    <th>Guide</th>
    <th>Last Updated</th>
    <th>Completed Chapters</th>
    <th>PDF File Size</th>
    <th>LaTeX Source</th>
  </tr>
  <tr>
    <td>
      <a href="/dl/guides/dudleysol.pdf">
        Dudley: Elementary Number Theory (Second Edition)
      </a>
    </td>
    <td>
      2020-03-19
    </td>
    <td>
      1-11
    </td>
    <td>
      414.3 kB
    </td>
    <td>
      <a href="https://github.com/gkikola/sol-dudley">
        GitHub
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="/dl/guides/dfsol.pdf">
        Dummit and Foote: Abstract Algebra (Third Edition)
      </a>
    </td>
    <td>
      2019-12-22
    </td>
    <td>
      0-2, A1
    </td>
    <td>
      702.1 kB
    </td>
    <td>
      <a href="https://github.com/gkikola/sol-dummit-foote">
        GitHub
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="/dl/guides/hksol.pdf">
        Hoffman and Kunze: Linear Algebra (Second Edition)
      </a>
    </td>
    <td>
      2020-01-12
    </td>
    <td>
      1
    </td>
    <td>
      223.6 kB
    </td>
    <td>
      <a href="https://github.com/gkikola/sol-hoffman-kunze">
        GitHub
      </a>
    </td>
  </tr>
  <tr>
    <td>
      <a href="/dl/guides/rudinsol.pdf">
        Rudin: Principles of Mathematical Analysis (Third Edition)
      </a>
    </td>
    <td>
      2020-01-02
    </td>
    <td>
      1-4
    </td>
    <td>
      419.2 kB
    </td>
    <td>
      <a href="https://github.com/gkikola/sol-baby-rudin">
        GitHub
      </a>
    </td>
  </tr>
</table>
