---
layout: layouts/main.njk
title: Contact
full-title: Contact Me
eleventyNavigation:
  key: Contact
---

<p>
  You may email me at
  <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
  (here is my <a href="/contact/gkikola-pubkey.txt">GPG Public Key</a>).
</p>
